body{
    margin:0;
    padding:0;
    min-height:100vh;
}


/* Background image */
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url("assets/night.jpg") center center / cover no-repeat;
    opacity:0.25;  /* 20-30% opacity */
    z-index:-2;
}

/* Dark overlay */
body::after{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.65);
    z-index:-1;
}

.container{
    width:90%;
    max-width:100%;
    margin:0 auto;
    padding-top:20px;
    text-align:center;
}


/* Top Circle */
.top-circle{
    width:110px;
    height:110px;
    margin:auto;
    border-radius:50%;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(8px);
    box-shadow:0 0 25px rgba(255,255,255,.25);
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.top-circle img{
    width:85px;
}

.top-text{
    margin-top:20px;
    font-size:22px;
    font-weight:600;
}

/* Message Box */
.message-box{
    margin:30px auto;
    width:100%;
    padding:25px;
    border-radius:25px;

    background:rgba(0,0,0,.55);
    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.3);
    box-shadow:
        0 0 20px rgba(255,255,255,.2),
        inset 0 0 10px rgba(255,255,255,.05);

    max-height:60vh;
    overflow-y:auto;
}


.message-box::-webkit-scrollbar{
    width:4px;
}

.message-box::-webkit-scrollbar-thumb{
    background:rgba(255,255,255,.2);
    border-radius:10px;
}


#messageText{
    font-size:18px;
    min-height:120px;
    line-height:1.6;
}

#nextBtn {
    display: none;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: right;
    margin-top: 20px;
    cursor: pointer;
}

/* Right alignment container effect */
.button-wrapper {
    display: flex;
    justify-content: flex-end; /* right side */
}


#nextBtn:hover{
    opacity:1;
}

.choiceBtn{
    padding:10px 18px;
    margin:6px;
    border-radius:20px;
    border:none;
    background:rgba(255,255,255,.2);
    color:white;
    cursor:pointer;
    transition:.3s;
}

.choiceBtn:hover{
    background:rgba(255,255,255,.35);
}

#topEmoji{
    transition: opacity 0.3s ease;
}





